@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

:root {
  /* تم پایه پیش‌فرض: دارک زغالی و سبز زمردی */
  --background: #09090b;
  --foreground: #f4f4f5;

  --card: #18181b;
  --card-foreground: #f4f4f5;

  --popover: #18181b;
  --popover-foreground: #f4f4f5;

  /* رنگ سبز امرالد آیکون */
  --primary: #10b981;
  --primary-foreground: #09090b;

  --secondary: #27272a;
  --secondary-foreground: #f4f4f5;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --accent: #27272a;
  --accent-foreground: #10b981;

  --destructive: #ef4444;
  --border: #27272a;
  --input: #27272a;
  --ring: #10b981;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
